<div class="register-container">
  <div class="register-card animate-fade-slide" [class.shake]="shake" [class.success-box]="success">

    <h2 class="title">Create Account</h2>
    <p class="subtitle">Join our platform</p>

    <!-- SUCCESS ANIMATION -->
    <div class="success-animation" *ngIf="success">
      <i class='bx bx-check-circle'></i>
      <p>Account Created!</p>
    </div>
    <p *ngIf="registrationError" class="error">{{ registrationError }}</p>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <!-- Username -->
      <div class="input-group">
        <i class="bx bxs-user"></i>
        <input type="text" formControlName="username" placeholder="Username">
      </div>
      <small class="error" *ngIf="userForm.controls.username.touched && userForm.controls.username.invalid">
        Username is required.
      </small>

      <!-- Email -->
      <div class="input-group">
        <i class="bx bxl-gmail"></i>
        <input type="email" formControlName="email" placeholder="Email address">
      </div>
      <small class="error" *ngIf="userForm.controls.email.touched && userForm.controls.email.invalid">
        Enter a valid email.
      </small>

      <!-- Password -->
      <div class="input-group">
        <i class="bx bxs-lock-alt"></i>
        <input type="password" formControlName="password" placeholder="Password">
      </div>

      <!-- Password confirmation -->
      <div class="input-group">
        <i class="bx bxs-lock-alt"></i>
        <input type="password" formControlName="password_confirmation" placeholder="Confirm password">
      </div>
      <small class="error" *ngIf="shake">Passwords do not match!</small>

      <!-- Avatar -->
      <div class="input-group">
        <i class="bx bxs-photo-album"></i>
        <input type="text" formControlName="avatar" placeholder="Avatar URL">
      </div>

      <!-- Button with loader -->
      <button type="submit" class="register-btn" [disabled]="isLoading">
        <span *ngIf="!isLoading">Register</span>
        <div class="loader" *ngIf="isLoading"></div>
      </button>

      <p class="login-text">
        Already have an account?
        <a [routerLink]="['/login']">Login</a>
      </p>
    </form>

    

  </div>
</div>