<div class="page-header-container">
    <div class="page-header-left">
        <h2 class="page-title">Dashboard</h2>
        <p class="page-subtitle">Overview & quick insights</p>
    </div>

    <nav class="breadcrumb-nav" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
</div>

<div class="container-fluid dashboard-content">
    <div class="row">
        <p class="placeholder-text">Dashboard Works!</p>
    </div>
</div>